.calculator {
    height: 720px;
    width: 600px;
    background-color: black;
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
}

#outputscreen {
    height: 100px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: lightgray;
    border: 2px solid gray;
    color: black;
    text-align: right;   
    padding-right: 20px;
    padding-left: auto;
    font-size: 66px;
    line-height: 100px;
}

.buttonpanel {
    height: 440px;
    width: 550px;
    margin: 25px;
}

button {
    height:100px;
    width: 130px;
    background-color: azure;
    margin: 2px;
    border-radius: 5px;
    border: 0;
    font-size: 42px;
}


